{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-6" id="summary"><h1> Summary</h1></div>
    </div>
    <div class="row justify-content-center">
        <div id="result" class="col-8">
        {% if '1' in upchoice %}
            <h3 class ="mt-3" style="text-align: center">Topic: Housing/Transportation + Healthy Food</h3>
        {% elif '2' in upchoice %}
            <h3 class ="mt-3" style="text-align: center">Topic: Housing + Transportation</h3>
        {% elif '3' in upchoice %}
            <h3 class ="mt-3" style="text-align: center">Topic: Housing + Healthcare</h3>
        {% elif '4' in upchoice %}
            <h3 class ="mt-3" style="text-align: center">Topic: Healthcare + Healthy Food</h3>
        {% elif '5' in upchoice %}
            <h3 class ="mt-3" style="text-align: center">Topic: Healthcare + Transportation</h3>
        {% elif '6' in upchoice %}
            <h3 class ="mt-3" style="text-align: center">Topic: Healthcare + Employment</h3>
        {% elif '7' in upchoice %}
            <h3 class ="mt-3" style="text-align: center">Topic: Housing + Employment</h3>
        {% elif '8' in upchoice %}
            <h3 class ="mt-3" style="text-align: center">Topic: Employment + Transportation</h3>
        {% else %}

        {% endif %}
        <!--<p class="lead ml-5">Results: upchoice </p> -->
        <p class="lead text-center">Here are some results based on your input throughout the survey:</p>
         <ul class="list-group">
            {% for element in response_list %}
                    <li class="list-group-item"><i class="fas fa-heart"></i> {{ element }}</li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <div class="col-10"><p class="lead ml-5">
        <a id="report" class="btn btn-info mr-2 mt-2" href="{% url 'account_page' %}" role="button">Go back</a>
        <a id="report" class="btn btn-info mr-2 mt-2" href="{% url 'delete_rep' xid %}" role="button">Delete Report</a>
        <a id="report" class="btn btn-info mr-2 mt-2" href="{% url 'home' %}" role="button">Return Home</a>
    </div >

{% endblock %}