{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12" id="summary"><h1> Summary</h1></div>
    </div>
    <div class="row justify-content-center">
        <div id="result" class="col-8">
        {% if '1' in upchoice %}
            <p class="lead text-center">Topic: Housing/Transportation + Healthy Food</p>
        {% elif '2' in upchoice %}
            <p class="lead text-center">Topic: Housing + Transportation</p>
        {% elif '3' in upchoice %}
            <p class="lead text-center">Topic: Housing + Healthcare</p>
        {% elif '4' in upchoice %}
            <p class="lead text-center">Topic: Healthcare + Healthy Food</p>
        {% elif '5' in upchoice %}
            <p class="lead text-center">Topic: Healthcare + Transportation</p>
        {% elif '6' in upchoice %}
            <p class="lead text-center">Topic: Healthcare + Employment</p>
        {% elif '7' in upchoice %}
            <p class="lead text-center">Topic: Housing + Employment</p>
        {% elif '8' in upchoice %}
            <p class="lead text-center">Topic: Employment + Transportation</p>
        {% else %}

        {% endif %}
        <!--<p class="lead ml-5">Results: upchoice </p> -->
        <p class="lead text-center">Here are some results based on your input throughout the survey:</p>
        <br>
        <ul>
            {% for element in response_list %}
                <li><p class="lead">{{ element }}</p></li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <div class="col-10"><p class="lead ml-5">
        <a id="report" class="btn btn-info mr-2 mt-2" href="{% url 'account_page' %}" role="button">Go back</a>
        <a id="report" class="btn btn-info mr-2 mt-2" href="{% url 'delete_rep' xid %}" role="button">Delete Report</a>
        <a id="report" class="btn btn-info mr-2 mt-2" href="{% url 'home' %}" role="button">Return Home</a>
    </div >

{% endblock %}