
{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}

<div class="question"><h1>{{ question.question_text }}</h1></div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input class="mr-5 btn btn-info btn-lg my-2" type="submit" value="Submit">

</form>

{% endblock %}