{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block body %}
    <body id="info">
    <div class="row justify-content-center">
        <img id="img" class="mt-4 responsive" src="{% static 'images/heal.png' %}"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <h3>VISION</h3>
            <p><span id="capLetter">H</span><span id="heal">EAL</span>’s vision is to create a world where place, race,
                and socioeconomic status do not determine health.</p>
            <h3>WHAT IS HEAL?</h3>
            <div class="row" style="height: 200px">
                <div class="col-7">
                    <p><span id="capLetter">H</span><span id="heal">EAL</span> is an interactive web-based assessment
                        tool that
                        encourages users to consider public health equity when
                        creating policies, programs, and budgets. To eliminate inequalities in public health,
                        communities must
                        alter
                        their decision-making practices to prioritize equity at every opportunity.</p></div>
                <div class="col-5">
                    <img id="logo" class="responsive" src="{% static 'images/health.png' %}">
                </div>
            </div>
            <br>
            <div class="row">
                <h3>WHAT PROBLEM DOES HEAL ADDRESS?</h3>
                <br>
                <div class="col-6">
                    <img id="logo" class="responsive" src="{% static 'images/alpa.png' %}">
                </div>
                <div class="col-6">
                    <p class="TextWrap"><span id="capLetter">T</span>he American Public Health Association notes that a
                        community’s design has direct and indirect impacts on both physical and mental health.
                        The impacts are greater on “vulnerable populations” who are less likely to have access to
                        nutritious, affordable food and opportunities for physical activity and are
                        more likely to be exposed to environmental pollutants and circumstances that increase stress.
                </div>
                </p><p>
                        <span style="font-weight: bold">HEAL is an online platform that allows users to understand the cross-sectional nature of policies, the potential future impacts of
                    decisions, and alternatives to existing or proposed policies.</span></p>
            </div>
            <br>
                <div id="foot">
                    <h3 id="contact">CONTACT INFORMATION</h3>
                    <p><span id="capLetter">F</span>or more information about HEAL or to subscribe to our
                        newsletter, please
                        contact Chris Harrington at <span id="email">Christophereharrington@gmail.com</span>. We look
                        forward to
                        connecting with you!</p>
                </div>
        </div>
    </div>
    </body>

{% endblock %}