{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
    <h2>Welcome to HEAL</h2>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <h1 class="display-1">HEAL</h1>
            </div>
            <div class="row">
                <h2 class="display-2 text-muted">Health Equity Analytical Lens</h2>
            </div>
        </div>
    </div>
    <div>
        <p class="lead ml-5">Welcome to HEAL</p>
    </div>

{% endblock %}