{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
    <p>Questions Template</p>
    <p>Question ...............................</p>
    <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="RadioOption1">
  <label class="form-check-label" for="RadioOption1">
    Option 1
  </label>
</div>
    <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="RadioOption2" checked>
  <label class="form-check-label" for="RadioOption2">
    Option 2
  </label>
</div>
    <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="RadioOption3" checked>
  <label class="form-check-label" for="RadioOption3">
    Option 3
  </label>
</div>
    <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="RadioOption4" checked>
  <label class="form-check-label" for="RadioOption4">
    Option 4
  </label>
</div>
{% endblock %}