{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
    <div class="row">
        <div class="col-12 "><h1 id="team">Meet the team!</h1></div>
    </div>
    <div class="row">
        <div class="col-2">
            <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
        </div>
        <div class="col-10"> Hi my name is Chris Harrington and HEAL’s vision is to create a world where place, race, and
            socioeconomic status do not determine health.
        </div>
    </div>

{% endblock %}