{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
    <div class="row">
        <div class="col-12 "><h1 id="team">How It All Began</h1></div>
    </div>
    <div class ="con">
    <div class="row">
        <h2 id="why">My Why</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-3">
            <img id="admin" src="{% static 'images/Chris.jpg' %}" alt="Chris">
        </div>
        <div class="col-8"><p class="lead ml-5">
            In 2018, shortly after my 30 birthday, I suffered what the doctor’s determined to be a transient

            ischemic attack or TIA. TIAs are informally known as mini-strokes. This occurred one-month

            prior to the birth of my daughter and resulted in an extensive hospital stay in which doctors

            tried to determine what could have caused this episode. It was probably the scariest moment of

            my life. <br> <br>

            I left the hospital understanding that I needed to make lifestyle changes to improve my health,

            but as I researched health issues in my community, I learned that my experience was far

            from rare. As I began understanding more about health inequities, a desire to change my community began to
            take shape.<br><br>

            Coupled with my background in public policy and administration, I started to think about ways<br><br>

            that I could change my environment systemically. With no tech background and very little personal time (I
            had two kids under the age of two at the time), I taught myself how to develop a web application, which
            later became the building block for HEAL.<br><br>

            My goal is to transform communities so that all of our children can live better and healthier lives.</p>
        </div>
    </div>
    </div>

{% endblock %}